body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: white;
    background-size: cover;
    color: black;
    margin: 0;
}

#clock {
    font-size: 5rem;
    font-weight: bold;
    background: rgba(9, 8, 8, 0.2);
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 15px rgb(52, 246, 246);
}